# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          sonarr:
            image:
              repository: ghcr.io/home-operations/sonarr
              tag: 4.0.16@sha256:0a1b8f5cb5b072f7ad8c6ff64a25dc512115d1a114ecf19a58a3b4f870207ddd
              pullPolicy: IfNotPresent
            env:
              SONARR__INSTANCE_NAME: Sonarr
              SONARR__LOG_LEVEL: info
            envFrom:
              - secretRef:
                  name: sonarr-secret
    service:
      sonarr:
        controller: main
        ports:
          http:
            port: 8989
    ingress:
      sonarr:
        className: internal
        annotations:
          hajimari.io/icon: simple-icons:sonarr
        hosts:
          - host: &host sonarr.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: sonarr
                  port: http
        tls:
          - hosts:
            - *host
    persistence:
      config:
        existingClaim: sonarr-config-new
      media:
        type: nfs
        server: ${SECRET_NFS_SERVER}
        path: /mnt/PlexPool
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 1000
